.yolo {
    background-color: rgb(201, 126, 126);
    font-family: Veranda, "DejaVu Sans", sans-serif;
}

#even {
    color: blue;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}
#everyone {
    background-color: rgb(109, 187, 109);
    font-weight: bold;
    font-size: 24px;
}